@model List<AdminPage.Models.DBModels.FarmInfoItem>
<link rel='stylesheet' href='~/Content/fullcalendar.css' />

<div class="row page-name">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <h2>Calendar Events</h2>
        <p>Here you can view, edit, create, and delete calendar events.</p>
    </div>
    <div class="col-xs-1"></div>
</div>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" id="calendar"></div>
    <div class="col-xs-2"></div>
</div>
<script>
    $('#calendar').fullCalendar({

         googleCalendarId: 'auerfarm.org_q5e6hao72q09temvb2uokilg4s%40group.calendar.google.com'
    });
</script>