@{
    ViewBag.Title = "Home Page";
}

<script></script>

<div class="left-nav">
    <div class="nav-image">
        <img src="/Content/auerfarm-logo.jpg" alt="Auerfarm Logo">
    </div>
    <div class="nav-op" id="news-op">
        <h6>News</h6>
    </div>
    <div class="nav-op" id="calendar-op">
        <h6>Calendar</h6>
    </div>
    <div class="nav-op" id="map-op">
        <h6>Map</h6>
    </div>
    <div class="nav-op" id="shop-op">
        <h6>Store</h6>
    </div>
</div>
<div class="test-content container-fluid">
    <div class="row test-content">
        <div class="col-xs-1 color-col full-height"></div>
        <div class="col-xs-10 full-height" id="content">
        </div>
        <div class="col-xs-1 color-col full-height"></div>
    </div>
</div>
<div class="menu-container expanded-menu">
    <div class="row menu-row">
        <div class="col-xs-12 col-xs-push-0 col-md-10 col-md-push-1 page-name">
            <h2>Home</h2>
            <div class="container-fluid menu-option">
                <a href="">
                    <button type="button" class="btn btn-default form-control" id="menu-op-news">News and Announcements</button>
                </a>
            </div>

            <div class="container-fluid menu-option">
                <a href="">
                    <button type="button" class="btn btn-default form-control" id="menu-op-calendar">Calendar Events</button>
                </a>
            </div>

            <div class="container-fluid menu-option">
                <a href="">
                    <button type="button" class="btn btn-default form-control" id="menu-op-map">Auerfarm Map</button>
                </a>
            </div>

            <div class="container-fluid menu-option">
                <a href="">
                    <button type="button" class="btn btn-default form-control" id="menu-op-shop">Shop</button>
                </a>
            </div>
        </div>
    </div>
</div>
