<div class="row page-name">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        <h2>Auerfarm Map</h2>
        <p>Here you can view, edit, create, and delete map items.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-11" id="map"></div>
</div>
<div class="row map-opts-title page-name">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        <h3>Add Map Object</h3>
        <p>To add a new map object, you can fill in the below information, click add map object, and click on the map where you would like to place it.
        Or, you can click on an existing map object to edit its information.</p>
    </div>
</div>

