<div class="row page-name">
    <div class="col-xs-1"></div>
    <div class="col-xs-6">
        <h2>Auerfarm Map</h2>
        <p>Here you can view, edit, create, and delete map items.</p>
        <label for="map-filter">Filter by Type:</label>
        <select class='form-control' id='map-filter'>
            <option selected value="none">...none...</option>
            <option value="type-animal">Animal</option>
            <option value="type-plant">Plant</option>
            <option value="type-building">Building</option>
            <option value="type-landmark">Landmark</option>
            <option value="type-trail">Trail</option>
            <option value="type-other">Other</option>
        </select>
    </div>
    <div class="col-xs-5">
        <button type="button" class="form-control" id="map-list-view">List View</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-11" id="map"></div>
</div>
<div class="container-fluid no-disp" id="map-object-info">
    <div class="row map-opts-title page-name">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">
            <h3 id="object-action">Add Map Object</h3>
            <p>
                To update or add marker information, fill in the information below and click "update" or "add".
            </p>
        </div>
    </div>
    <div class="row map-item-info">
        <div class="col-xs-1"></div>
        <div class="col-xs-3 tall-col">
            <div class="map-item-image">
                <img src="~/Content/rafi-filler-pic.jpg" alt="placeholder-pic" />
            </div>
        </div>
        <div class="col-xs-8 ">
            <div class="split-content bottom-pad">
                <div class="left-content">
                    <div class='ti-label inline-block'>
                        <h6>Name:</h6>
                    </div>
                    <input type='text' class='inline-block form-control' id='item-name'>
                </div>
                <div class="right-content">
                    <label for="item-type">Type:</label>
                    <select class='form-control' id='item-type' >
                        <option selected disabled>...pick one...</option>
                        <option value="type-animal">Animal</option>
                        <option value="type-plant">Plant</option>
                        <option value="type-building">Building</option>
                        <option value="type-landmark">Landmark</option>
                        <option value="type-trail">Trail</option>
                        <option value="type-other">Other</option>
                    </select>
                </div>
            </div>
            <div class='ti-label inline-block'>
                <h6>Description:</h6>
            </div>
            <textarea class='inline-block form-control' id='item-desc'></textarea>
            @*<div class="split-content">
                    <div class="left-content">
                        <div class='ti-label inline-block'>
                            <h6>Post Date:  </h6>
                        </div>
                        <input type='text' class='form-control  inline-block' id='item-post-date' >
                    </div>
                    <div class="right-content">
                        <div class='ti-label inline-block'>
                            <h6>Hide Date:  </h6>
                        </div>
                        <input type='text' class='form-control inline-block' id='item-remove-date'>
                    </div>
                </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-3">
            <input class="image-upload" type="file" value="upload image" name="pic" accept="image/*" />
        </div>
        <div class="col-xs-5"></div>
        <div class="col-xs-3">
            <button type="button" class="form-control update-map-item" id="-1">Add</button>
        </div>
    </div>
</div>