@model List<AdminPage.Models.DBModels.FarmInfoItem>

<div class="row page-name">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        <h2>News and Announcements</h2>
        <p>Here you can view, edit, create, and delete news and announcements.</p>
    </div>
    <div class="col-xs-1"></div>
</div>

<div class="row page-content">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
        <div class="container-fluid new-item-button">
            <button type="button" class="btn btn-default form-control" id="new-info-item">Add Item</button>
        </div>
        <br />
        <div class="container-fluid item-list">

            <div id="item"></div>

            <div class="wrap">
                <div class="scrollbar">
                    <div class="handle">
                        <div class="mousearea"></div>
                    </div>
                </div>

                <div class="frame" id="basic">
                    <ul class="clearfix">

                        @foreach (var item in Model)
                        {
                            <li class="edit-item" id="@item.Id">

                                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                                    <div class="flipper">
                                        <div class="front">
                                            <h3>@item.Title</h3>
                                            <p>@item.Description</p>
                                            <div style="bottom: 5px;"><p>@item.Type.ToString().ToUpper()</p></div>
                                        </div>
                                        <div class="back">
                                            <img class="sly-list" src="http://localhost:50409/Content/rafi-filler-pic.jpg" />
                                        </div>
                                    </div>
                                </div>

                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
