<div class="row page-name">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <h2>Items For Sale</h2>
        <p>Here you can view, edit, add, and remove items currently sold at Auerfarm.</p>
    </div>
    <div class="col-xs-1"></div>
</div>
