.main-icon{
    
    box-shadow: 10px 10px 5px #888888;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius:8px;
    background:white;
}

.left-icon {
    
}

.right-icon {

}
.mobile-header {
    background:#619FF8;
    padding-top: 4px;
}

.header-text {
    font: bold 28px sans-serif, arial;
    color: #d88304; 
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.inner-icon {
    position:center;
    margin:3px 10px 3px 10px;
    padding: 10px 0px 0px 0px;
    text-align:center;

}

.inner-icon > a > p{
    color: black;
    font-weight:500;

}

.main-menu {
    background:#619FF8;
    padding: 0% 100% 100% 100%;
    width:auto;
}



.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}