<div class="row page-name">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <h2>Calendar Events</h2>
        <p>Here you can view, edit, create, and delete calendar events.</p>
    </div>
    <div class="col-xs-1"></div>
</div>
