<!--css import-->
<link href="../Content/fonts/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
<link href="../Content/CSS/landing.css" rel="stylesheet" />
<link href="../Content/bootstrap.css" rel="stylesheet" />

<div class="container">
    
    <div ng-controller="NewsController as NC">

        <div class="main-menu col-xs-12">
            <div ng-repeat="x in NC.newsItems">
                <div class="clearfix">
                    <div class="col-xs-12">
                        <h4>{{x.headline}}</h4>
                    </div>

                    <div class="col-xs-3">
                        <!--<img src="../Content/images/goat.jpg" />-->
                    </div>

                    <div class="col-xs-9">
                        <p>{{x.body}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>