.main-icon {
    box-shadow: 10px 10px 5px #888888;
    border-radius: 40px;
    background: #67BB4A;
    margin:10% 2% 10% 5%;
    height:23vh;
}


a > i {
    color: mintcream;
}

.angular-google-map-container { height: 400px; }

.main-icon > i {
    max-height: 30%;
    color: mintcream;
    font-size: 5em;
    position: relative;
    top: 20px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 20%;
}

.main-icon > p {
    color: mintcream;
    font-weight: 500;
    font-size: 170%;
    text-align: center;
    height:10%;
    padding-top:-40%;
}

.icon-row{
    min-height:33%;
    max-height:33%
}



.center{
    margin:auto;
}

.main-menu{
    overflow:hidden;
}

.page-change.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.page-change.ng-enter.ng-enter-active {
  opacity:1;
}

body {
    overflow:hidden;
}