<!-- index.html -->
<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="app">
<head>

    <!-- load scripts -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Load CSS -->
    <link href="~/app/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/app/Content/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />


    <!-- load angular -->

    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-route.min.js"></script>

    <!-- Add Routes / Define module -->
    <script src="routes.js"></script>

    <!-- Page Title -->
    <title>Landing Page</title>
</head>

<body>
    <!-- Header -->
    <header></header>
    <div id="panel"></div>

    <!-- Main Body -->
    <div class="row">
     
        <!-- Partial HTML Page -->
        <div class="col-sm-12 col-lg-8 col-md-10 col-md-offset-2 col-lg-offset-3 container-fluid container-custom">
            <ng-view autoscroll></ng-view>
        </div>
    </div>

</body>
</html>