body {
    margin-top: 0;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*NEW CSS*/
.navbar {
    background-color: rgb(12, 104, 17) !important;
}

button, input, .input-row select, textarea {
	border-color: rgb(12, 104, 17) !important;
}
button {
	color: rgb(12, 104, 17) !important;
}
button:hover {
	background-color: rgb(12, 104, 17) !important;
	color: white !important;
}

.page-name {
    color: rgb(12, 104, 17);
    padding-top:10px;
}

.menu-option, .new-item-button {
    padding: 10px 0;
}

.menu-container {
    width: 100vw;
    height: 100vh;
    z-index: 2;
    position:absolute;
    top: 0;
    left: 0;
    overflow:hidden;
    background-color: white; 
}
.test-content {
    width: 100vw;
}
.no-disp {
    display: none;
}
.color-col {
    background-color: rgb(12, 104, 17);
}
.row {
    margin: 0;
}
.full-height {
}
.left-nav {
    position:fixed;
    left: 0;
    top: 0;
    width: 15vw;
    height: 100vh;
    z-index:2;
    background-color: rgb(12, 104, 17);
}
.nav-op {
    color: white;
    width: 100%;
    padding: 5px;
    background-color: rgb(12, 104, 17);
}
.nav-op:hover {
    background-color: white;
    color: rgb(12, 104, 17);
    cursor: pointer;
}
.selected-op {
    background-color: white;
    color: rgb(12, 104, 17);
}
.nav-image {
	display: inline-block;
	height: auto;
	width: 100% !important;
    max-width: 100% !important;
}
.nav-image img {
    height: auto;
    width: auto;
    max-width: 100%!important;
}

.nav-image:hover {
    cursor: pointer;
}

.inline-block {
    display: inline-block;
}

.border {
    border: solid 1px;
}

.ti-label {
    float: left;
    clear: left;
}

textarea {
    float: right;
    width: 85% !important;
    min-width: 85% !important;
    margin-bottom: 10px;
}

.split-content {
    width: 100%;
}
.left-content .ti-label, .right-content .ti-label {
    float: left;
    clear: left;
    width: 30%;
}
.left-content input, .right-content input {
    float: right;
    width: 69% !important;
    min-width: 69% !important;
}
.left-content {
    float: left;
    width: 48%;
}
.right-content {
    float: right;
    width: 48%;
}

#submit-new-item {
    margin: 10px 0; 
}

.info-item-container {
    border-bottom: solid 1px rgb(12, 104, 17);
}
.info-item-image {
    display: inline-block;
	width: auto;
	height: 20vh;
    max-height: 20vh !important;
}
.info-item-image img {
    height: 100%;
    width: auto;
    max-height: 100% !important;
}
.new-item-button {
    margin: 0 15px;
}
.top-pad {
    padding-top: 10px;
}